**/a.out
**/*.gch
note/**/auto/
latex/**/auto/
latex/**/*.aux
latex/**/*.fls
latex/**/*.log
latex/**/*.pdf
latex/**/*.dvi
latex/**/*.toc
latex/**/*.fdb_latexmk
latex/**/*.synctex.gz
**/*.build-latexmk/

**/GPATH
**/GRTAGS
**/GTAGS
/lang/golang/pkg
/lang/golang/src/**/main/main
