
**/GPATH
**/GRTAGS
**/GTAGS

**/a.out
**/*.gch
**/*.o
**/*.exe
**/*.build-latexmk/
**/CMakeFiles
**/cmake_install.cmake

note/**/auto/
latex/**/auto/
latex/**/*.aux
latex/**/*.fls
latex/**/*.log
latex/**/*.pdf
latex/**/*.dvi
latex/**/*.toc
latex/**/*.fdb_latexmk
latex/**/*.synctex.gz

plantuml/**.png

/lang/golang/pkg
/lang/golang/src/**/main/main

/lang/c/qt/**/Makefile
/lang/c/qt/**/moc_*
/lang/c/qt/**/.qmake.stash

/lang/c/**/.build
/lang/cpp/**/.build
